<%- include('layout/header') %>
<%- include('layout/sidebar') %>

<!-- Main Content -->
<section class="main-content position-absolute" style="background: #E5E5E5;" id="content">
    <!-- Breadcrumb -->
    <%- include('layout/breadcrumb') %>
    <!-- End Breadcrumb -->

    <div class="container title-page">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6">
                <h5 style="font-size: 20px; font-weight: 700; line-height: 30px;">Update Car Information</h5>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row p-0">
            <div class="col-lg-12">
                <form action="/cars/update/<%= car._id %>" method="post" enctype="multipart/form-data">
                    <div class="card form form-edit border-0">
                        <div class="card-body d-flex flex-column content-form">
                            <div class="row">
                                <label for="name" class="col-2">Nama<span class="text-danger">*</span></label>
                                <div class="col-6">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Toyota / Avanza" value="<%= car.name %>" required>
                                </div>
                            </div>
                            <div class="row">
                                <label for="rentPerDay" class="col-2">Sewa Per Hari<span class="text-danger">*</span></label>
                                <div class="col-6">
                                    <input type="text" class="form-control" id="rentPerDay" name="rentPerDay" placeholder="Rp 0,-" value="<%= car.price %>" required>
                                </div>
                            </div>
                            <div class="row">
                                <label for="capacity" class="col-2">Ukuran<span class="text-danger">*</span></label>
                                <div class="col-6">
                                    <select class="form-select" name="capacity" id="capacity" required>
                                        <option value="Small" selected>Small</option>
                                        <option value="Medium">Medium</option>
                                        <option value="Large">Large</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <label for="image" class="col-2">Foto<span class="text-danger">*</span></label>
                                <div class="col-6">
                                    <input type="file" class="form-control" id="image" name="image">
                                    <small>File size max. 2MB</small>
                                    <img src="/<%= car.image %>" alt="image-car-old" class="img-fluid position-absolute" style="width: 30%; height: 80%; top: 95%; left: 18%;">
                                </div>
                            </div>
                            <input type="hidden" name="old_image" value="<%= car.image %> ">
                        </div>
                    </div>
                    <div class="button-form d-flex position-absolute">
                        <button class="btn btn-cancel" type="reset">Cancel</button>
                        <button class="btn btn-save" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End Main Content -->
</main>

<%- include('layout/footer') %>